/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/******* fonte *******************/
h1 {
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
  font-family: "BBH Bogle", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--color-ottendefarve);
}

.h1forside {
  font-size: 1.8rem;
  margin: 2rem 0rem 5rem 0rem;
}

h1::after {
  content: "★★★★★★★★★★★★★★★★★"; /* 5 stjerner */
  display: block;
  font-size: 0.5em; /* størrelse på stjernerne */
  color: var(--color-ottendefarve);
  margin-top: 10px; /* afstand mellem overskrift og stjerner */
  letter-spacing: 10px; /* afstand mellem stjerner */
  filter: blur(1px);
}

.stjerner {
  display: block;
  font-size: 0.8em;
  color: var(--color-ottendefarve);
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  filter: blur(1px);
  place-self: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: var(--color-fjerdefarve);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

p + p {
  margin-block-start: 1.2em;
}

@media screen and (min-width: 840px) {
  h1 {
    font-size: 2.5rem;
    margin: 4rem 0rem 2rem 0rem;
  }

  .h1forside {
    font-size: 4rem;
    margin: 10rem 0rem 10rem 0rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4;
  }

  footer p {
    font-size: 1rem;
  }

  .stjerner {
    display: block;
    font-size: 1.5em;
    color: var(--color-ottendefarve);
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 15px;
    filter: blur(1px);
    place-self: center;
  }
}

ul li {
  margin-bottom: 1rem;
}

.stjerne-liste {
  list-style-type: none; /* Fjern de normale bullets */
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.stjerne-liste li::before {
  content: "★ ";
  color: var(--color-ottendefarve);
  font-size: 1em;
  filter: blur(1px);
}

/******* farver *******************/
:root {
  --color-førstefarve: #f0ead8;

  --color-andenfarve: #f2e6b1;

  --color-tredjefarve: #a1ad92;

  --color-fjerdefarve: #757302;

  --color-femtefarve: #94b2c4;

  --color-sjettefarve: #012e40;

  --color-syvendefarve: #a60f1b;

  --color-ottendefarve: #4e0000;
}

body {
  background: var(--color-førstefarve);
}

main {
  width: 95%;
  place-self: center;
}

/********************* menu ***********************/

.menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: var(--color-andenfarve);
}

.logo img {
  width: 110px;
  height: 110px;
  border-style: none;
  margin-left: 10px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  display: inline-block;
  font-family: "BBH Bogle", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--color-syvendefarve);
}

.menu a:hover {
  color: var(--color-ottendefarve);
}

/********************* Burgermenu *****************/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-ottendefarve);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 840px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--color-andenfarve);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: right;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 18px;
  }

  header {
    padding: 5px;
  }
}

/********************* footer ***********************/
footer {
  background-color: var(--color-ottendefarve);
  font-size: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}

footer p {
  color: var(--color-førstefarve);
  font-size: 0.8rem;
  font-weight: 500;
}
